h1 {
  font-size: 80px;
  letter-spacing: 10px;
  font-family: "Pixelify Sans", cursive;
  text-align: center;
  padding-bottom: 50px;
}

.Genshin {
  font-family: "Croissant One", cursive;
}

h2 {
  font-size: 40px;
}

body {
  background-color: rgb(255, 156, 145);
  border-radius: 30px;
  border: 30px solid rgb(207, 107, 96);
  margin: auto;
  padding: 50px 200px;
  font-family: monospace;
  color: rgb(214, 79, 79);
  width: 900px;
}

html {
  background-color: rgb(255, 182, 174);
  padding: 40px;
}

p {
  font-family: monospace;
  font-size: 17px;
}

li {
  font-size: 15px;
}

a {
  color: rgb(177, 84, 74);
  font-size: 15px;
}
a:hover {
  color: rgb(184, 51, 51);
  font-size: 17px;
}

img {
  border-radius: 20px;
}

.piano {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
}
